@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: perfectdos;
    src: url(public/Perfect\ DOS\ VGA\ 437\ Win.ttf);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #211f1f;
    color: #ababab;
    font-family: 'Lato', sans-serif;
    font-family: perfectdos;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 1.2rem;
}

main,
section {
    padding: 0;
    margin: 0;
}

main {
    margin-top: 100px;
}

.container {
    padding: 20px 0;
    width: 1000px;
    margin: 0 auto;
}

/* h1, h2 {
    text-align: center;
} */

.flex {
    display: flex;
    flex-wrap: nowrap;
}

.flex div {
    width: 50%;
}

li ul li {
    font-size: 1rem;
}

li b {
    font-size: 1.8rem;
}

.img-container img {
    height: 250px;
    width: auto;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* #UE {
    background: #2a9d8f;
}
#threeDArt {
 background: #e9c46a;
}
#programming {
    background: #e76f51;
} */

header {
    height: 100px;
    width: 100%;
    background: #372c38;
    position: fixed;
    overflow: hidden;
    top: 0;
    color: #7a7272;
    padding-left: 50px;
    line-height: 25px;
    font-size: 1.5rem;
}

main a {
    color: #7a7272;
}

header span {
    position: absolute;
    top: 25px;
    right: 50px;
}

header span i {
    color: #7a7272;
}

header img {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
}


.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 750px;
}

.programming-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 750px;
}

.item {
    background-color: #ababab;
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
}

.project {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: flex 0.8s ease;
}

.project:hover {
    flex: 7;

}

.item:hover {
    flex: 7;
}